<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 400, alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>This is the thing that I use for unknown purpose,</p>
    <p>  I don't know why, but it can't be useless.</p>
  </div>
</div>
